body{
font-size: 20px;
}

/*remove margins and padding from left and right side of site*/
.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0
}

.base-color{
background-color: burlywood;
}

header{
    box-sizing: border-box;
    height: 400px;
    background-image: url("../images/header-bg.jpg");
    background-position: 50% 50%;
}

.header-logo-area{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.header-logo{
    max-width: 250px;
}
.header-school-name{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.2;

}


.main-nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    background-color: rgb(5, 130, 231);
    min-height: 70px;
    color: #FFFFFF;
}
.main-nav a{
    color: white;
}
.main-nav a:hover{
    text-decoration: none;
    background-color: none;
}

nav, .navbar-brand{
    font-size: 1.5rem;
}

nav ul{
    justify-content: flex-end;
}

nav ul li{
    padding-right: 10px;
    padding-top: 20px; 
}

/* LAST NEWS */
.last-news{
    font-size: 1.3rem;
}

.last-news h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}

.last-news ul{
    list-style: none;
}
p.mod-articles-category-introtext{
    padding: 0;
    margin-bottom: 0;
}
a.mod-articles-category-title:last-child{
    font-size: 1.2rem;
}

.last-news p:last-child {
    margin-bottom: 20px;
}

/* MAIN CONTENT */
#main-container{
    font-size: 1.3rem;
    line-height: 1.6rem;
}

/* MAIN ABOUT US */

.main-about-us{
    padding: 0;
}
.moduletablemain-about-us-module{
    background-color: #FFD54F;
    padding-left: 10px;
}

.main-about-us h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}

.main-about-us .read-more{
    display: flex;
    justify-content: center;
}

.about-us-btn-paragraph{
    display: flex;
    justify-content: center;
}
.about-us-btn{
    background: #2196F3;
    color: #FFFFFF;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
    /* font-weight: bold; */
    transition-duration: 0.3s;
    margin-bottom: 20px;
}

.about-us-btn:hover{
    background: #1565C0;
    color: #FFFFFF;
    cursor: pointer;
}

/* MAIN SCHEDULE */
.main-schedule h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}

.schedule-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2rem;
}
.schedule-icon{
    position: relative;
    max-width: 400px;
    padding: 5px;
}

.schedule-icon:hover{
    cursor: pointer;
}

/* MAIN CONTACT */
.main-contact h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}
.main-contact{
    background-color: #2196F3;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #FFFFFF;
}

.main-contact a{
 color: #FFFFFF;
}

.footer{
    text-align: center;
    background-color: grey;
    color: #FFFFFF;
    
}
.footer a{
    color: #FFFFFF;
}

p:last-child{
    margin-bottom: 0;
}

/* Main Section Article Title */
.mod-articles-category-title{
    font-size: 28px;
}

.page-header > h2 {
    text-align: center;
    padding: 10px;
}

/*---- MEDIA QUERIES ----*/
@media (min-width: 576px) {
    .header-logo{
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .header-school-name{
        display: flex;
        align-items: center;
        font-size: 2rem;    
    }
 }

 @media (min-width: 1200px) {
    .header-logo{
        max-width: 400px;
    }
    .header-school-name{
        font-size: 4.5rem;    
    }
  }
