body{
font-size: 20px;
}
.hidden{
display: none;
}

/*remove margins and padding from left and right side of site*/
.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0
}

.base-color{
background-color: burlywood;
}

header{
    box-sizing: border-box;
    height: 400px;
    background-image: url("../images/header-bg.jpg");
    background-position: 50% 50%;
}

.header-logo{
    max-width: 250px;
}
.header-school-name{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.2;

}

/* NAV */
.utw-logo-min{
    max-width: 45px;
    display: none;
}

.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand-text{
    position: absolute;
}

.main-nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    background-color: rgb(5, 130, 231);
    min-height: 70px;
    color: #FFFFFF;
}
.main-nav a{
    color: white;
}
.main-nav a:hover{
    text-decoration: none;
    background-color: none;
}

nav, .navbar-brand{
    font-size: 1.5rem;
}

nav ul{
    justify-content: flex-end;
}

nav ul li{
    padding-right: 10px;
    padding-top: 20px; 
}

/* LAST NEWS */
.last-news{
    box-sizing: border-box;
    background-image: url("../images/news-bg.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;

}
.last-news a{
    text-decoration: none;
}

.last-news h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.last-news ul{
    list-style: none;
}
p.mod-articles-category-introtext{
    padding: 0;
    margin-bottom: 0;
}
a.mod-articles-category-title:last-child{
    font-size: 1.2rem;
}

.last-news p:last-child {
    margin-bottom: 20px;
}

.newsflash{
    display: flex;
    flex-direction: column;
}

.newsflash > a.readmore{
    margin-top: -10px;
    margin-bottom: 20px;
}

/* MAIN CONTENT */
#main-container{
    font-size: 1.3rem;
    line-height: 1.6rem;
}

/* MAIN ABOUT US */
.main-about-us{
    padding: 0;
}
.main-about-us-short-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.moduletablemain-about-us-module{
    background-color: #FFD54F;
    padding-left: 10px;
}

.main-about-us h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.about-us-img{
    border: 3px solid #2196F3;
    border-radius: 10px;
    position: relative;
    left: -1000px;
}
.about-us-icons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.about-us-icons img:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
    border-radius: 50%;
    transform: rotate(10deg);
}

.about-us-icon1, .about-us-icon2, .about-us-icon3{
    /* display: none; */
    opacity: 0;
}

.main-about-us .read-more{
    display: flex;
    justify-content: center;
}

.about-us-btn-paragraph{
    display: flex;
    justify-content: center;
}
.about-us-btn{
    background: #2196F3;
    color: #FFFFFF;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
    /* font-weight: bold; */
    transition-duration: 0.3s;
    margin-bottom: 20px;
}

.about-us-btn:hover{
    background: #1565C0;
    color: #FFFFFF;
    cursor: pointer;
}
.blog{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog h2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.items-leading{
    display:  flex;
    flex-direction:  column;
    align-items:  flex-start;
}
.blog .page-header h2 {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    font-size: 1.7rem;
}

/* MAIN SCHEDULE */
.main-schedule{
    background-image: url("../images/schedule-bg.jpg");
    background-position: 10% 10%;
    background-attachment: fixed;
}
.main-schedule h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.schedule-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2rem;
    overflow: hidden;
}
.schedule-icon{
    position: relative;
    max-width: 300px;
    padding: 5px;
}

.schedule-icon:hover{
    cursor: pointer;
}

.schedule-icon1{
    position: relative;
    left: -1500px;
}
.schedule-icon2{
    position: relative;
    left: 1500px;
}
.schedule-icon1:hover{
    position: relative;
    left: -1500px;
    transform: rotate(5deg);
}
.schedule-icon2:hover{
    position: relative;
    left: -1500px;
    transform: rotate(-5deg);
}
.year-organization{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.year-organization a{
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    background-color: #2196F3;
    color: #FFFFFF;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
    transition-duration: 0.3s;
}
.year-organization a:hover{
    background: #1565C0;
    color: #FFFFFF;
    cursor: pointer;
}

/* MAIN CONTACT */
.main-contact h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
    /* padding-bottom: 20px; */
}
.main-contact{
    background-color: #2196F3;
    color: #FFFFFF;
}

.main-contact a{
 color: #FFFFFF;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}
.footer{
    text-align: center;
    background-color: grey;
    color: #FFFFFF;
    
}
.footer a{
    color: #FFFFFF;
}

p:last-child{
    margin-bottom: 0;
}

/* Main Section Article Title */
.mod-articles-category-title{
    font-size: 28px;
    
}

.page-header > h2 {
    text-align: center;
    padding: 10px;
}

/*---- MEDIA QUERIES ----*/
@media (min-width: 576px) {
    .header-logo{
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .header-school-name{
        display: flex;
        align-items: center;
        font-size: 3.5rem;    
    }
    .main-contact{
        font-size: 1.3rem;
    }
 }

 @media (min-width: 1200px) {
    .header-logo{
        max-width: 400px;
    }
    .header-school-name{
        font-size: 4.5rem;    
    }
    .main-contact{
        font-size: 1.5rem;
    }
    .schedule-icon{
        max-width: 350px;
    }
  }
